/*format tablette*/
@media screen and (max-width: 992px) {
  /*Classe générale*/
  body,
  header,
  nav,
  main,
  footer,
  #corps_de_page {
    width: 100%;
    margin: auto;
  }
  .bordure_haut a:hover {
    border: 0;
  }

  .logo,
  .taille_grande_carte,
  .espace_carte,
  .grande_carte_activite {
    width: auto;
  }
  
  /*hébergment a marseille*/

  .format_tablette {
    display: block;
  }
  .espace_carte {
    gap: 25px;
  }
  /*les plus populaires*/
  .taille_petite_carte {
    display: block;
    margin-top: 30px;
  }
  .taille_petite_carte {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .carte_centre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .element_droite {
    width: 34%;
  }
  /* activité a marseille*/
  .conteneur1,
  .conteneur2,
  .conteneur3,
  .conteneur4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 30px;
  }
  .grande_carte_activite {
    width: 100%;
  }
  .sous_conteneur2 {
    margin-top: 16px;
  }
  .sous_conteneur3 {
    margin-bottom: 20px;
  }
  .image6 {
    height: 120px;
  }
  /*pied de page*/
  .flex_pied_page {
    margin-left: 0;
  }
}

/*format mobile*/
@media screen and (max-width: 767px) {
  /*Classe générale*/
  body,
  header,
  nav,
  .logo_nav,
  main,
  footer,
  #corps_de_page {
    width: 100%;
  }

  .bordure_haut a:hover {
    border: 0;
  }

  .barre_nav,
  .logo,
  .filtre,
  .info,
  .taille_grande_carte,
  .grande_carte_activite,
  .flex_pied_page {
    width: auto;
    margin-left: 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  /*centrage du logo*/
  .logo_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img.logo {
    margin-left: 25px;
    padding-left: 25px;
  }
  /*navigation*/
  nav ul {
    margin-left: 0;
    padding: 0;
  }
  h1,
  .ligne,
  h2 {
    margin-left: 10px;
  }
  h2{
   font-size: 20px;
  }
  .ligne,
  .ligne_info,
  p {
    color: black;
  }
  .ul{
    justify-content: center;
}
  /*bordure bleu inversé pour mobile*/
  .navigation_bordure_survol {
    width: 100%;
    border-bottom: 2px transparent solid;
  }
  .navigation_bordure_survol.active {
    border-color: blue;
  }

  /*Espace entre les lignes annulé*/

  .margeligne {
    line-height: initial;
  }
  /*barre de recherche*/
  .bouton_recherche{
    width: auto;
    border-radius: 10px;
  }
  .transparent_rechercher{
    opacity: 0;
  }
  
  /*filtre*/
  .filtre{
    align-items: baseline;
  }
  .marge_filtre{
    flex-direction: column;
  }
  /*info*/
  .info{
    justify-content:initial ;
  }
  /*hébergement à marseille mobile*/
  
  .marge_section {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
  .marge_hebergement{
    margin-left: 0;
  }

  .espace_carte {
    display: flex;
    flex-direction: column;
  }

  .taille_grande_carte,
  .taille_petite_carte {
    width: auto;
    height: auto;
  }
  .taille_grande_carte{
    margin-top: 25px;
    background-color: white;
  }
  .carte_blanche{
    border: solid #f2f2f2;
    margin: auto;
    margin-right: 10px;
    width: auto;
    height: auto;
  }
  .afficher_plus{
    margin: 0;
  }

  /* aside les plus populaires*/
  .carte_blanche_populaire{
    width: 90%;
    margin-bottom: 10px;
  }
  .taille_petite_carte {
    margin-left: 0;
    margin-top: 50px;
    border-radius: 0;
  }

  .carte_centre {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: initial;
  }
  .element_droite {
    width: 85%;
  }
  /*activités à Marseille*/
  .grande_carte_activite {
    display: block;
    flex-direction: column;
    height: 100%;
    width: 94%;
  }
  .grande_carte_activite img {
    width: 100%;
    height: 150px;
  }
  .conteneur1,
  .conteneur2,
  .conteneur3,
  .conteneur4 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  /*footer*/

  .flex_pied_page {
    flex-direction: column;
  }
  .carte_pied_page {
    width: 100%;
  }
}
