/*format tablette*/
@media screen and (max-width:768px){
     /*Classe générale*/
     body,
     header,
     nav,
     main,
     footer,
     #corps_de_page
     {
         width: 100%;
         margin: auto;
     }
     .bordure_haut a:hover {
        border: 0;
    }

    .logo,
    .taille_grande_carte,
    .espace_carte,
    .grande_carte_activite {
        width: auto;
    }
    /*hébergment a marseille*/
  
    .format_tablette{
        display: block;
    }
    .espace_carte{
        gap: 25px;
    }
    /*les plus populaires*/
    .taille_petite_carte{
        display: block;
        margin-top: 30px;
    }
    .taille_petite_carte {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .carte_centre{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .element_droite{
        width: 34%;
    }
    /* activité a marseille*/
    .grande_carte_activite{
        width: 100%;
    }
    .sous_conteneur2{
        margin-top: 16px;
    }
    .sous_conteneur3{
        margin-bottom: 20px;
    }
    .image6{
        height: 120px;
    }
    /*pied de page*/
    .flex_pied_page{
        margin-left: 0;
    }
    }
/*format mobile*/
@media screen and (max-width:767px){
    /*Classe générale*/
    body,
    header,
    nav,
    .logo_nav,
    main,
    footer,
    #corps_de_page
    {
        width: 100%;
    }

    .bordure_haut a:hover {
        border: 0;
    }

    .barre_nav,
    .logo,
    .filtre,
    .info,
    .taille_grande_carte,
    .espace_carte,
    .grande_carte_activite {
        width: auto;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    /*centrage du logo*/
    .logo_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img.logo{
        margin-left: 25px;
        padding-left: 25px;
    }
    /*navigation*/
    nav ul {
        margin-left: 0;
        padding: 0;
    }
    /*bordure bleu inversé pour mobile*/
    .navigation_bordure_survol {
        width: 100%;
        border-bottom: 2px transparent solid;
    }
    .navigation_bordure_survol.active {
        border-color: blue;
    }

    /*Espace entre les lignes annulé*/

    .margeligne{
        line-height: initial;
    }
    /*hébergement à marseille mobile*/
    h3{
        text-align: center;
    }
    .marge{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .espace_carte {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .taille_grande_carte,
    .taille_petite_carte {
        height: auto;
    }
    .afficher_plus{
        text-align: center;
    }

    .carte_blanche {
        margin-left: 0;
    }
    /* aside les plus populaires*/
    
    .taille_petite_carte {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .carte_centre{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .element_droite{
        width: 65%;
    }
    /*activités à Marseille*/
    h2{
        text-align: center;
    }
    .grande_carte_activite{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .conteneur1,
    .conteneur2,
    .conteneur3,
    .conteneur4 {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 30px;
    }
    /*footer*/
    
    .flex_pied_page{
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    .carte_pied_page{
        width: 100%;
    }
}