/*format mobile*/
@media screen and (max-width: 767px) {
  /*Classe générale*/
  body,
  header,
  nav,
  .logo_nav,
  main,
  footer,
  #corps_de_page {
    width: 100%;
  }

  .bordure_haut a:hover {
    border: 0;
  }

  .barre_nav,
  .logo,
  .filtre,
  .info,
  .taille_grande_carte,
  .grande_carte_activite,
  .flex_pied_page {
    width: auto;
    margin-left: 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  /*centrage du logo*/
  .logo_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img.logo {
    margin-left: 25px;
    padding-left: 25px;
  }
  /*navigation*/
  nav ul {
    margin-left: 0;
    padding: 0;
  }
  h1,
  .ligne,
  h2 {
    margin-left: 10px;
  }
  h2{
   font-size: 20px;
  }
  .ligne,
  .ligne_info,
  p {
    color: black;
  }
  .ul{
    justify-content: center;
}
  /*bordure bleu inversé pour mobile*/
  
  .navigation_bordure_survol {
    width: 99%;
    border-bottom: 2px transparent solid;
    
  }
  .navigation_bordure_survol:hover{
    border-bottom: 3px solid blue;
  }
 
  /*Espace entre les lignes annulé*/

  .margeligne {
    line-height: initial;
  }
  /*barre de recherche*/
  .bouton_recherche{
    width: auto;
    border-radius: 10px;
  }
  .transparent_rechercher{
    display: none;
  }
  .transparent_loupe{
    display: block !important;
    margin: 10px;
    font-size: large;
  }
  .transparent_bouton_desk{
    display: block;
  }
  /*filtre*/
  .filtre_mobile{
    width: 100%;
    margin-left: 10px;
    font-size: medium;
  }
  .marge_filtre{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .texte_filtre{
    font-size: medium;
    margin: 8px;
  }
  .taille_filtre{
    margin: 8px;
  }
  /*info*/
  .info{
    justify-content:initial ;
  }
  /*hébergement à marseille mobile*/
  
  .marge_section {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
  .marge_hebergement{
    margin-left: 0;
  }

  .espace_carte {
    display: flex;
    flex-direction: column;
  }

  .taille_grande_carte,
  .taille_petite_carte {
    width: auto;
    height: auto;
  }
  .taille_grande_carte{
    margin-top: 25px;
    background-color: white;
  }
  .carte_blanche{
    border: 3px solid #f2f2f2;
    margin: auto;
    margin-right: 10px;
    width: auto;
    height: auto;
  }
  .afficher_plus{
    margin: 0;
  }

  /* aside les plus populaires*/
  .carte_blanche_populaire{
    width: 90%;
    margin-bottom: 10px;
  }
  .taille_petite_carte {
    margin-left: 0;
    margin-top: 50px;
    border-radius: 0;
  }
  .carte_centre {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: initial;
  }
  
  .element_droite {
    width: 85%;
  }
  /*activités à Marseille*/
  .grande_carte_activite {
    display: block;
    flex-direction: column;
    height: 100%;
    width: 94%;
  }
  .grande_carte_activite img {
    width: 100%;
    height: 150px;
  }
  .conteneur1,
  .conteneur2,
  .conteneur3,
  .conteneur4 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  /*footer*/

  .flex_pied_page {
    flex-direction: column;
  }
  .carte_pied_page {
    width: 100%;
  }
}
