body{
    font-family: "Raleway", sans-serif;
    margin: 0;
}
.blanc{
    color: white;
}
.bleue{
    color: #0065FC;
}
.gris{
    color: gray;
}
.fondgris{
    background-color: #F2F2F2;
}
.fondbleue{
    background-color: #0065FC;
}
/*en tête de la page*/
.nav{
    display: flex;
    justify-content: space-between;
}
#ul{
    display: flex;
    list-style: none;
}
#li2{
    margin: 0 30px;
    color: gray;
}
.margeligne{
    line-height: 4px;
}
#ligne1{
    color: gray;
    font-size: small;
}
/*barre de navigation*/
.barre_nav{
    width: 300px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.bordure{
    border: none;
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
}
.taille_ar_gris{
    font-size: 25px;
    background-size: 100px;
}
.taille_ar{
    width: 40px;
    height: 40px;
}
.taillerecherche{
    width: 130px;
}

/* section hotel*/
#hotel{
    display: flex;
}

/*image hébergement*/
#hote{
    display: flex;
}
.image{
    width: 150px;
    height: 100px;
}
    