body{
    font-family: "Raleway", sans-serif;
    margin: 0;
}
.bleue{
    color: #0065FC;
}
.gris{
    color: gray;
}
.fondgris{
    background-color: #F2F2F2;
}
.fondbleue{
    background-color: #0065FC;
}
/*en tête de la page*/
.nav{
    display: flex;
    justify-content: space-between;
}
#ul{
    display: flex;
    list-style: none;
}
#li2{
    margin: 0 30px;
    color: gray;
}
.margeligne{
    line-height: 4px;
}
.ligne{
    color: gray;
    font-size: small;
}
/*barre de navigation*/

.barre_nav{
    width: 400px;
    display: flex;
}
.bordure{
    border: none;
}
.flex_centre{
    align-items: center;
    justify-content: center;
}
.icone{
    display: flex;
}
.taille_ar_gris{
    font-size: 25px;
    background-size: 70px;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.ville{
    height: 50px;
    width: 200px;
}
.bouton_recherche{
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/*filtres*/
.filtre{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}
.info{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
/* section hotel*/
#hotel{
    display: flex;
}

/*image hébergement*/
#hote{
    display: flex;
}
.image{
    width: 150px;
    height: 100px;
}
    