@media screen and (max-width: 992px) {
    /*Classe générale*/
    body,
    header,
    nav,
    main,
    footer,
    #corps_de_page {
      width: 100%;
      margin:auto;
    }
    .bordure_haut a:hover {
      border: 0;
    }
  
    .logo,
    .taille_grande_carte,
    .espace_carte,
    .grande_carte_activite {
      width: auto;
    }
    h1,
    .filtre,
    .info,
    .barre_nav,
    .ligne {
      margin-left: 20px;
    }
    
    /*hébergment a marseille*/
  
    .format_tablette {
      display: block;
    }
    .espace_carte {
      gap: 25px;
    }
    /*les plus populaires*/

    .taille_petite_carte {
      display: block;
      margin-top: 30px;
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-top: 50px;
    }

  
    .carte_centre {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

    }
    .element_droite {
      width: 34%;
    }
    /* activité a marseille*/
    .marge_titre_tablette{
      margin-left: 20px;
    }
    .grande_carte_activite {
      display: block;
      flex-direction: column;
      height: 100%;
      width: 94%;
      margin-left: 15px;
    }
    .grande_carte_activite img {
      width: 100%;
      height: 300px;
    }
    .conteneur1,
    .conteneur2,
    .conteneur3,
    .conteneur4 {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    /*pied de page*/
    .flex_pied_page {
      margin-left:20px;
    }
  }