@media screen and (max-width: 992px) {
    /*Classe générale*/
    body,
    header,
    nav,
    main,
    footer,
    #corps_de_page {
      width: 100%;
      margin: auto;
    }
    .bordure_haut a:hover {
      border: 0;
    }
  
    .logo,
    .taille_grande_carte,
    .espace_carte,
    .grande_carte_activite {
      width: auto;
    }
    
    /*hébergment a marseille*/
  
    .format_tablette {
      display: block;
    }
    .espace_carte {
      gap: 25px;
    }
    /*les plus populaires*/
    .taille_petite_carte {
      display: block;
      margin-top: 30px;
    }
    .taille_petite_carte {
      width: 100%;
      margin-left: 0;
      margin-top: 50px;
    }
  
    .carte_centre {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .element_droite {
      width: 34%;
    }
    /* activité a marseille*/
    .conteneur1,
    .conteneur2,
    .conteneur3,
    .conteneur4 {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-top: 30px;
    }
    .grande_carte_activite {
      width: 100%;
    }
    .sous_conteneur2 {
      margin-top: 16px;
    }
    .sous_conteneur3 {
      margin-bottom: 20px;
    }
    .image6 {
      height: 120px;
    }
    /*pied de page*/
    .flex_pied_page {
      margin-left: 0;
    }
  }